html, body, ul {
  background: #f9e2b7;
  font-family: 'MedievalSharpBold' !important;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  border-color: inherit;
  list-style: none;
}


.group:after {
  display: block;
  content: "";
  clear: both;
}


h1 {
  display: none;
  padding: 30px;
  border: 3px solid #8b0000;
  text-transform: capitalize;
  font-size: 40px;
  margin: 20px 10px;
  height: 60px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

li {
  cursor: pointer;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}


.menu-div {
  background: #2b1700;
  display: block;
  width: 21%;
  float: left;
  height: 402px;
  list-style: none;
  border-radius: 2px;
  border-right: 2px solid #8b0000;
  border-bottom: 2px solid #8b0000;
  margin: 0% auto;
}

.active {
  color: #8b0000;
}

.tabs, .color-menu, .partitions-menu {
  border-right: 1px solid oldlace;
  width: 48%;
  float: left;
  display: block !important;
  color: oldlace;
  text-transform: capitalize;
  padding: 1% 1% 0 1%;
  margin: 0;
  background: transparent;
}

.main-menu, .partitions-menu, .ordinaries-menu, .charge-menu, .background-menu {
  border: none;
  background: none;
  color: oldlace;
  display: block;
  padding: 1%;
  margin: 0;
  text-transform: capitalize;
  float: right;
  width: 47%;
}

.color-menu {
  display: block;
  margin-top: 0;
  padding-top: 0;
}

.tabs > li, .main-menu > li, .color-menu > li, .partitions-menu > li, .ordinaries-menu > li, .charge-menu > li, .background-menu > li {
  border-bottom: 1px solid oldlace;
  margin-top: 5%;
  padding: 1%;
  width: 100%;
  background-position: center;
  background-size: contain;
}

.color-menu > li, .charge-menu > li, .background-menu > li {
  margin: 0;
  height: 29px;
}

.color-menu > li, .background-menu > li {
  height: 26px;
}

.background-menu > li {
  background-size: cover;
}
/*SHIELD*/

.shield-div {
  display: block;
  height: 402px;
  width: 78.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  position: relative;
}

.inner {
  background: transparent;
  position: absolute;
  padding: 10px;
  top: 10%;
  left: 30%;
}


.shield {
  display: block;
  background: #f9e2b7;
  float: right;
  position: relative;
  width: 330px;
  height: 310px;
  border-radius: 0 0 250px 250px;
  display: block;
  overflow: hidden;
  transition: background-color 2s;
  border: 1px solid black;
}

.buttons {
  display: none;
  margin: 16px 8px;
}



/*COLORS*/

.gules {
  background: #be0000 !important;
  border-color: #be0000 !important;
  /*background: linear-gradient(to right, #8b0000, #f10000, #8b0000) !important;*/
}

.azure {
  background: #000099 !important;
  border-color: #000099 !important;
  /*background: linear-gradient(to right, #000066, #0000cc, #000066) !important;*/
}

.vert {
  background: #008000 !important;
  border-color: #008000 !important;
  /*background: linear-gradient(to right, #004d00, #00b300, #004d00) !important;*/
}

.purpure {
  background: #4d004d !important;
  border-color: #4d004d !important;
  /*background: linear-gradient(to right, #4d004d, #b300b3, #4d004d) !important;*/
}

.murrey {
  background: #4d0000 !important;
  border-color: #4d0000 !important;
}

.sable {
  background: #000 !important;
  border-color: #000 !important;
  /*background: linear-gradient(to right, #000, #333333, #000) !important;*/
}

.argent {
  background: #d8d8d8 !important;
  border-color: #d8d8d8 !important;
  /*background: linear-gradient(to right, #bfbfbf, #f1f1f1, #bfbfbf) !important;*/
}

.or {
  background: #ffd700 !important;
  border-color: #ffd700 !important;
  /*background: linear-gradient(to right, #ccac00, #ffdf33, #ccac00) !important;*/
}

.reset:after {
  content: "RESET";
}












/*PARTITIONS*/

/*.horizontal-opt:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #8b0000;
  top: 17.5%;
}

.vertical-opt:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  background: #8b0000;
  left: 13.5%;
}

.chief-opt:before {
  content: "";
  position: absolute;
  background: #8b0000;
  width: 40px;
  height: 16px;
}

.diagonal-opt:before {
  content: "";
  position: absolute;
  background: #8b0000;
  width: 5px;
  height: 48px;
  top: 45%;
  left: 13.5%;
  transform: rotate(45deg);
  overflow: hidden;
}*/

.partition {
  position: absolute;
  background: #f9e2b7;
  border: 1px solid black;
  transition: background-color 2s;
  top: -1%;
  left: -1%;
}

.per-fess {
  width: 101%;
  height: 50%;
}

.per-pale {
  width: 50%;
  height: 101%;
}

.per-chevron {
  height: 100%;
  width: 80%;
  transform: rotate(45deg);
  top: 50%;
  left: 4.5%;
}

.per-quarter {
  height: 52%;
  width: 52%;
  left: -2%;
  top: -5%;
}

.per-quarter:after {
  background: inherit;
  border-color: inherit !important;
  display: block;
  content: "";
  position: absolute;
  height: 164px;
  width: 164px;
  top: 100%;
  left: 100%;
  border: 1px solid black;
}

.per-saltire {
  height: 300px;
  width: 300px;
  transform: rotate(45deg);
  top: 66%;
  left: 4.5%;
}

.per-saltire:after {
  background: inherit;
  display: block;
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: 65%;
  left: 4.5%;
  border: 1px solid black;
}














/*ORDINARIES*/

.ordinary {
  position: absolute;
  background: #f9e2b7;
  border: 1px solid black;
  transition: background-color 2s;
}

.fess {
  width: 340px;
  height: 40px;
  left: -2%;
  top: 44%;
}

.pale {
  height: 101%;
  width: 40px;
  left: 44%;
  top: -1%;
}

.pile {
  width: 0;
  height: 0;
  background: transparent;
  border-left: 165px solid transparent;
  border-right: 165px solid transparent;
  left: 0%;
  position: absolute;
  border-top: 310px solid black;
}

.chief {
  width: 101%;
  left: -1%;
  top: -1%;
  height: 34%;
}

.bend {
  height: 709px;
  width: 40px;
  left: 23%;
  top: -45%;
  transform: rotate(47deg);
}

/*.bend {
  height: 420px;
  width: 40px;
  left: 18px;
  top: -92px;
  transform: rotate(47deg);
}

.bend:after {
  content: "";
  position: absolute;
  border: 1px solid black;
  height: 420px;
  width: 40px;
  left: 18px;
  top: -92px;
  transform: rotate(90deg);
}*/

.canton {
  height: 26%;
  width: 26%;
  top: -1%;
  left: -1%;
}

.lozenge {
  height: 200px;
  width: 200px;
  transform: rotate(45deg);
  left: 19.5%;
  top: 16%;
}

.base {
  height: 34%;
  width: 101%;
  bottom: -1%;
  left: -1%;
}

.cross {
  width: 340px;
  height: 40px;
  left: -2%;
  top: 44%;
}

.cross:after {
  height: 320px;
  width: 40px;
  left: 44%;
  top: -350%;
  border: 1px solid black;
  content: "";
  position: absolute;
  background: inherit;
  border-color: inherit !important;
}

.chevron {
  height: 300px;
  width: 300px;
  transform: rotate(45deg);
  top: 50%;
  left: 4.5%;
}

.chevron:after {
  content: "";
  position: absolute;
  display: block;
  height: 300px;
  width: 300px;
  color: inherit;
  border: 1px solid black;
  top: 10%;
  left: 10%;
  /*top: 50%;
  left: 4.5%;*/
}














/*CHARGES*/

.icon {
  position: absolute;
  z-index: 3;
  display: block;
  height: 300px;
  width: 300px;
  left: 4%;
  transition: background-image 2s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fleur {
  background-image: url("./images/fleur/fleur.png") !important;
}
.fleur-gules {
  background-image: url("./images/fleur/fleur-gules.png") !important;
}
.fleur-azure {
  background-image: url("./images/fleur/fleur-azure.png") !important;
}
.fleur-vert {
  background-image: url("./images/fleur/fleur-vert.png") !important;
}
.fleur-purpure {
  background-image: url("./images/fleur/fleur-purpure.png") !important;
}
.fleur-sable {
  background-image: url("./images/fleur/fleur-sable.png") !important;
}
.fleur-argent {
  background-image: url("./images/fleur/fleur-argent.png") !important;
}
.fleur-or {
  background-image: url("./images/fleur/fleur-or.png") !important;
}

.lion {
  background-image: url("./images/lion/lion-sable.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.lion-gules {
  background-image: url("./images/lion/lion-gules.png") !important;
}
.lion-azure {
  background-image: url("./images/lion/lion-azure.png") !important;
}
.lion-vert {
  background-image: url("./images/lion/lion-vert.png") !important;
}
.lion-purpure {
  background-image: url("./images/lion/lion-purpure.png") !important;
}
.lion-sable {
  background-image: url("./images/lion/lion-sable.png") !important;
}
.lion-argent {
  background-image: url("./images/lion/lion-argent.png") !important;
}
.lion-or {
  background-image: url("./images/lion/lion-or.png") !important;
}

.eagle {
  background-image: url("./images/eagle/eagle-sable.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.eagle-gules {
  background-image: url("./images/eagle/eagle-gules.png") !important;
}
.eagle-azure {
  background-image: url("./images/eagle/eagle-azure.png") !important;
}
.eagle-vert {
  background-image: url("./images/eagle/eagle-vert.png") !important;
}
.eagle-purpure {
  background-image: url("./images/eagle/eagle-purpure.png") !important;
}
.eagle-sable {
  background-image: url("./images/eagle/eagle-sable.png") !important;
}
.eagle-argent {
  background-image: url("./images/eagle/eagle-argent.png") !important;
}
.eagle-or {
  background-image: url("./images/eagle/eagle-or.png") !important;
}

.rose {
  background-image: url("./images/rose/rose-sable.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.rose-gules {
  background-image: url("./images/rose/rose-gules.png") !important;
}
.rose-azure {
  background-image: url("./images/rose/rose-azure.png") !important;
}
.rose-vert {
  background-image: url("./images/rose/rose-vert.png") !important;
}
.rose-purpure {
  background-image: url("./images/rose/rose-purpure.png") !important;
}
.rose-sable {
  background-image: url("./images/rose/rose-sable.png") !important;
}
.rose-argent {
  background-image: url("./images/rose/rose-argent.png") !important;
}
.rose-or {
  background-image: url("./images/rose/rose-or.png") !important;
}

.unicorn {
  background-image: url("./images/unicorn/unicorn-sable.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.unicorn-gules {
  background-image: url("./images/unicorn/unicorn-gules.png") !important;
}
.unicorn-azure {
  background-image: url("./images/unicorn/unicorn-azure.png") !important;
}
.unicorn-vert {
  background-image: url("./images/unicorn/unicorn-vert.png") !important;
}
.unicorn-purpure {
  background-image: url("./images/unicorn/unicorn-purpure.png") !important;
}
.unicorn-sable {
  background-image: url("./images/unicorn/unicorn-sable.png") !important;
}
.unicorn-argent {
  background-image: url("./images/unicorn/unicorn-argent.png") !important;
}
.unicorn-or {
  background-image: url("./images/unicorn/unicorn-or.png") !important;
}

.bow {
  background-image: url("./images/bow/bow-sable.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bow-gules {
  background-image: url("./images/bow/bow-gules.png") !important;
}
.bow-azure {
  background-image: url("./images/bow/bow-azure.png") !important;
}
.bow-vert {
  background-image: url("./images/bow/bow-vert.png") !important;
}
.bow-purpure {
  background-image: url("./images/bow/bow-purpure.png") !important;
}
.bow-sable {
  background-image: url("./images/bow/bow-sable.png") !important;
}
.bow-argent {
  background-image: url("./images/bow/bow-argent.png") !important;
}
.bow-or {
  background-image: url("./images/bow/bow-or.png") !important;
}

.gate {
  background-image: url("./images/gate/gate-sable.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.gate-gules {
  background-image: url("./images/gate/gate-gules.png") !important;
}
.gate-azure {
  background-image: url("./images/gate/gate-azure.png") !important;
}
.gate-vert {
  background-image: url("./images/gate/gate-vert.png") !important;
}
.gate-purpure {
  background-image: url("./images/gate/gate-purpure.png") !important;
}
.gate-sable {
  background-image: url("./images/gate/gate-sable.png") !important;
}
.gate-argent {
  background-image: url("./images/gate/gate-argent.png") !important;
}
.gate-or {
  background-image: url("./images/gate/gate-or.png") !important;
}





/*BACKGROUNDS*/
.black {
  background: #000;
}

.white {
  background: #fff;
}

.parchment {
  background-size: cover;
  background-image: url(http://www.medievalarchives.com/wp-content/uploads/2011/12/parchment-paper-light-texture.jpg);
}

.cloak {
  background-image: url('./images/backgrounds/cloak.png');
  background-size: cover;
}

.window {
  background-image: url('./images/backgrounds/window.jpg');
  background-size: cover;
}

.wall {
  background-image: url('./images/backgrounds/wall.jpg');
  background-size: cover;
}

.tile {
  background-image: url('./images/backgrounds/tile.gif');
  background-size: cover;
}

.tapestry {
  background-image: url('./images/backgrounds/tapestry.jpg');
  background-size: cover;
}

.frame {
  background-image: url("./images/frame.png");
}

.wood {
  background-size: cover;
  background-image: url("./images/backgrounds/wood.jpg") !important;
}

.stone {
  background-size: cover;
  background-image: url("./images/backgrounds/stone.jpg") !important;
}

.scroll {
  background-size: contain;
  background-image: url("./images/backgrounds/scroll.png") !important;
}
